$primaryColor: #ec4899 !default;
$primaryLightColor: #fbcfe8 !default;
$primaryDarkColor: #db2777 !default;
$primaryDarkerColor: #be185d !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #fdf2f8 !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_fonts';
@import '../../../../theme-base/_components';
@import '../_extensions';