$primaryColor: #04bf8a !default;
$primaryLightColor: #baffed !default;
$primaryDarkColor: #0D9488 !default;
$primaryDarkerColor: #0F766E !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #0f766e !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_fonts';
@import '../../../../theme-base/_components';
@import '../_extensions';