.p-checkbox {
    .p-checkbox-box {
        border-radius: 4px;
        box-shadow: $inputShadow;
    }

    &:not(.p-disabled) {
        &:has(.p-checkbox-input:focus-visible) {
            .p-checkbox-box {
                outline-width: 1px;
                outline-offset: $focusOutlineOffset;
            }

            &.p-highlight {
                .p-checkbox-box {
                    border-color: $checkboxActiveBg;
                }
            }
        }
    }

    &.p-disabled {
        opacity: 1;

        .p-checkbox-box {
            background-color: $disabledInputBg;
            border: $inputBorder;

            .p-checkbox-icon {
                color: $textSecondaryColor;
            }
        }
    }
}