.p-tabview {
    .p-tabview-ink-bar {
        z-index: 1;
        display: none;
    }

    .p-tabview-nav {
        position: relative;
        
        li {
            .p-tabview-nav-link {
                transition: background-color $transitionDuration, color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration, outline-color $transitionDuration;
            }
        }
    }

    .p-tabview-nav-btn.p-link {
        color: $actionIconColor;
        transition: $actionIconTransition;
        box-shadow: $raisedButtonShadow;
        box-shadow: 0px 0px 10px 50px rgba(255, 255, 255, 0.6);

        &:hover {
            color: $actionIconHoverColor;
        }
    }
}