.p-togglebutton {
    .p-button {
        .p-button-label,
        .p-button-icon {
            position: relative;
            transition: none;
        }

        &::before {
            content: '';
            background-color: transparent;
            transition: $formElementTransition;
            position: absolute;
            left: .25rem;
            top: .25rem;
            width: calc(100% - .5rem);
            height: calc(100% - .5rem);
            border-radius: 4px;
        }
    }

    &.p-highlight {
        .p-button {
            &::before {
                background: $shade000;
                border-color: $shade000;
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
            }
        }
    }

    &.p-disabled {
        opacity: 1;
        .p-button {
            color: $shade400;
            .p-button-icon {
                color: $shade400;
            }
        }
    }
}