.p-inplace {
    .p-inplace-display {
        display: flex !important;
        padding: $inplacePadding;
        border-radius: $borderRadius;
        transition: $formElementTransition;

        &:not(.p-disabled):hover {
            background: $inplaceHoverBg;
            color: $inplaceTextHoverColor;
        }

        &:focus {
            @include focused();
        }
    }

    .p-inplace-content {
        display: flex !important;
        align-items: center !important;
    }
}

