.p-terminal {
	background: $panelContentBg;
	color: $panelContentTextColor;
	border: $panelContentBorder;
	padding: $panelContentPadding;

	.p-terminal-input {
		font-family: inherit;
		font-feature-settings: inherit;
		font-size: inherit;
	}
}
