$primaryColor: #a78bfa !default;
$primaryLightColor: #c4b5fd !default;
$primaryLighterColor: #ddd6fe!default;
$primaryLightestColor: rgba(167, 139, 250, .2) !default;
$primaryTextColor: #030712 !default;

$highlightBg:rgba(167, 139, 250, .16) !default;
$highlightTextColor: rgba(255,255,255,.87) !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_fonts';
@import '../../../../theme-base/_components';
@import '../_extensions';