$primaryColor: #60a5fa !default;
$primaryLightColor: #93c5fd !default;
$primaryLighterColor: #bfdbfe !default;
$primaryTextColor: #020617 !default;

$highlightBg:rgba(96, 165, 250, .16) !default;
$highlightTextColor: rgba(255,255,255,.87) !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_fonts';
@import '../../../../theme-base/_components';
@import '../extensions/_extensions';