$primaryColor: #84cc16 !default;
$primaryDarkColor: #65a30d !default;
$primaryDarkerColor: #4d7c0f !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #f7fee7 !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_fonts';
@import '../../../../theme-base/_components';
@import '../extensions/_extensions';