.p-radiobutton {
    .p-radiobutton-box {
        box-shadow: $inputShadow;
    }
    
    &:not(.p-disabled) {
        &:has(.p-radiobutton-input:focus-visible) {
            .p-radiobutton-box {
                outline-width: 1px;
                outline-offset: $focusOutlineOffset;
            }

            &.p-highlight {
                .p-radiobutton-box {
                    border-color: $checkboxActiveBg;
                }
            }
        }
    }

    &.p-disabled {
        opacity: 1;
        .p-radiobutton-box {
            border: $inputBorder;
            background-color: $disabledInputBg;

            .p-radiobutton-icon {
                background-color: $textSecondaryColor;
            }
        }
    }
}